@import "tailwindcss";
@import "tw-animate-css";

:root {
  --prime-one: #ffffff;
  /* --prime-two:#1d1a18; */
  --prime-two: #000000;
  --txt-prime: #666666;
  --accent-r: #ff6a7b;
  --accent-g: #3cd9b3;
  --accent-b: #6a7bff;
  --accent-p: #e12b6d;
  --accent-y: #fbb626;
  --border-one: #4a5565;
}

@theme {
  --color-prime-one: var(--prime-one);
  --color-prime-two: var(--prime-two);
  --color-txt-prime: var(--txt-prime);
  --color-accent-r: var(--accent-r);
  --color-accent-g: var(--accent-g);
  --color-accent-b: var(--accent-b);
  --color-accent-p: var(--accent-p);
  --color-accent-y: var(--accent-y);
  --color-border-one: var(--border-one);

  --breakpoint-mb: 1080px;

  --font-head: var(--head-font);
  --font-body: var(--body-font);
  --font-accent: var(--accent-font);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
  background-color: var(--prime-two);
  color: var(--prime-one);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

h1 {
  font-size: clamp(3.125rem, 0.3125rem + 10vw, 6.875rem);
}

h3 {
  font-size: clamp(1.125rem, 0.375rem + 2.6667vw, 2.125rem);
}

p {
  font-size: clamp(0.75rem, 0.5625rem + 0.6667vw, 1rem);
}

.icon-lg {
  width: clamp(2.5rem, 1.5rem + 3vw, 4rem);
  height: clamp(2.5rem, 1.5rem + 3vw, 4rem);
}

.icon-md {
  width: clamp(1.75rem, 1rem + 2vw, 2.5rem);
  height: clamp(1.75rem, 1rem + 2vw, 2.5rem);
}

.icon-sm {
  width: clamp(1.25rem, 0.8rem + 1vw, 1.75rem);
  height: clamp(1.25rem, 0.8rem + 1vw, 1.75rem);
}

.container {
  @apply w-[95%] mx-auto max-w-[1140px];
}
