/* drop loader */
.drop-loader {
  display: block;
  position: relative;
}

.drop-loader:before,
.drop-loader:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 85%;
  height: 85%;
  border-radius: 50%;
  background: #3cd9b3;
  transform: translate(-50%, -100%) scale(0);
  animation: push_401 4s infinite linear;
}

.drop-loader:after {
  animation-delay: 2s;
}

@keyframes push_401 {
  0%,
  50% {
    transform: translate(-50%, 0%) scale(1);
  }

  100% {
    transform: translate(-50%, -100%) scale(0);
  }
}

/* climb loader */
.climb-loader {
  position: absolute;
  bottom: -2px;
  right: -2px;
  font-size: 16px;
  width: 5em;
  height: 5em;
  border: 2px solid black;
}

.climb-loader:before {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%) rotate(45deg);
  height: 147%;
  width: 2px;
  background: #666666;
  left: 50%;
  top: 50%;
}

.climb-loader:after {
  content: "";
  position: absolute;
  left: 0.2em;
  bottom: 0.18em;
  width: 1em;
  height: 1em;
  background-color: #3cd9b3;
  border-radius: 15%;
  animation: rollingRock 4s cubic-bezier(0.79, 0, 0.47, 0.97) infinite;
}

@keyframes rollingRock {
  0% {
    transform: translate(0, -1em) rotate(-45deg);
  }

  10% {
    transform: translate(0, -1em) rotate(-50deg);
  }

  20% {
    transform: translate(1em, -2em) rotate(47deg);
  }

  25% {
    transform: translate(1em, -2em) rotate(45deg);
  }

  30% {
    transform: translate(1em, -2em) rotate(40deg);
  }

  45% {
    transform: translate(2em, -3em) rotate(137deg);
  }

  50% {
    transform: translate(2em, -3em) rotate(135deg);
  }

  55% {
    transform: translate(2em, -3em) rotate(130deg);
  }

  70% {
    transform: translate(3em, -4em) rotate(217deg);
  }

  75% {
    transform: translate(3em, -4em) rotate(220deg);
  }

  100% {
    transform: translate(0, -1em) rotate(-225deg);
  }
}

/* location loader */
.loc-shape {
  position: relative;
  transform: rotate(45deg);
  top: -2px;
}

.loc-shape:before,
.loc-shape:after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50% 50% 0 50%;
  background-image: radial-gradient(circle 5px at 50% 50%,#0000 94%, #3cd9b3);
}

.loc-shape:after {
  animation: pulse-ytk0dhmd 4s infinite;
  transform: perspective(336px) translateZ(0px);
}

@keyframes pulse-ytk0dhmd {
  to {
    transform: perspective(336px) translateZ(168px);
    opacity: 0;
  }
}
  

