@import "tailwindcss";
@import "tw-animate-css";

:root {
  --background: #0d0d0d;
  --secondary-background: #101010;
  --secondary-background-elevated: #1a1a1a;
  --secondary-background-hover: #282828;
  --secondary-background-selected: #232323;
  --secondary-background-active: #393939;

  --foreground: #ffffff;
  --muted-foreground: #a0a0a0;
  --subtle-foreground: #7e7e7e;
  --dim-foreground: #505050;

  --border: #101010;
  --border-focus: #ffc799;

  --accent: #ffc799;
  --accent-hover: #ffcfa8;
  --accent-soft: #ffc7993d;
  --accent-dark: #612a0f;

  --accent-purple: #faacfe;
  --accent-orange: #f6c094;
  --accent-blue: #aca1cf;
  --accent-green: #90b99f;
  --accent-yellow: #e6b99d;
  --accent-magenta: #e29eca;
  --accent-magenta-light: #ecaad6;
  --accent-pink: #ea83a5;
  --accent-pink-light: #f591b2;

  --scrollbar: #343434;
  --scrollbar-alpha: #34343480;

  --success: #99ffe4;
  --success-soft: #99ffe43d;
  --danger: #ff8080;
  --danger-soft: #ff80803d;

  /* Purple */
  --color-purple: #faacfe;
  --font-sans:
    ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --radius: 0.5rem;
}

@theme inline {
  --color-background: var(--background);
  --color-secondary-background: var(--secondary-background);
  --color-secondary-background-elevated: var(--secondary-background-elevated);
  --color-secondary-background-hover: var(--secondary-background-hover);
  --color-secondary-background-selected: var(--secondary-background-selected);
  --color-secondary-background-active: var(--secondary-background-active);

  --color-foreground: var(--foreground);
  --color-muted-foreground: var(--muted-foreground);
  --color-subtle-foreground: var(--subtle-foreground);
  --color-dim-foreground: var(--dim-foreground);

  --color-border: var(--border);
  --color-border-focus: var(--border-focus);

  /* accents */

  --color-accent: #ffc799;
  --color-accent-hover: #ffcfa8;
  --color-accent-soft: #ffc7993d;
  --color-accent-dark: #612a0f;
  --color-accent-purple: var(--accent-purple);
  --color-accent-orange: var(--accent-orange);
  --color-accent-blue: var(--accent-blue);
  --color-accent-green: var(--accent-green);
  --color-accent-yellow: var(--accent-yellow);
  --color-accent-magenta: var(--accent-magenta);
  --color-accent-magenta-light: var(--accent-magenta-light);
  --color-accent-pink: var(--accent-pink);
  --color-accent-pink-light: var(--accent-pink-light);

  --color-success: var(--success);
  --color-success-soft: var(--success-soft);
  --color-danger: var(--danger);
  --color-danger-soft: var(--danger-soft);

  /* scrollbars */
  --color-scrollbar: var(--scrollbar);
  --color-scrollbar-alpha: var(--scrollbar-alpha);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
  *,
  *::after,
  *::before {
    @apply p-0 m-0 box-border;
  }

  body {
    @apply bg-background;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    height: 100vh;
    width: 100vw;
  }

  .hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }

  h1 {
    font-size: clamp(1.365rem, 0.9555rem + 2.184vw, 2.0475rem);
    line-height: 1.25;
    font-weight: bold;
  }

  h3 {
    font-size: clamp(1.02375rem, 0.9555rem + 0.364vw, 1.1375rem);
    font-weight: 700;
  }

  p {
    font-size: clamp(0.79625rem, 0.728rem + 0.364vw, 0.91rem);
    font-weight: 550;
  }

  .icon-lg {
    @apply w-[clamp(1.656rem,3.312vw,2.366rem)] h-[clamp(1.656rem,3.312vw,2.366rem)];
  }
  .icon-md {
    @apply w-[clamp(1.183rem,2.366vw,1.656rem)] h-[clamp(1.183rem,2.366vw,1.656rem)];
  }
  .icon-sm {
    @apply w-[clamp(0.828rem,1.656vw,1.183rem)] h-[clamp(0.828rem,1.656vw,1.183rem)];
  }
}
