@import "tailwindcss";
@import "tw-animate-css";

:root {
    --background: #fdfbf7;
    --foreground: #1a1a1a;
    --primary: #c4b0ff;
    --secondary: #ffb3ba;
    --muted: #bae1ff;
    --accent: #98ff98;
    --border: #000000;
    --shadow-md: 4px 4px 0px 0px;
    --shadow: 2px 2px 0px 0px;
    --shadow-lg: 8px 8px 0px 0px;

    --font-sans:
        ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono:
        ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
        "Liberation Mono", "Courier New", monospace;
    --radius: 0.5rem;
}

.dark {
    --background: #121212;
    --foreground: #e0e0e0;
    --primary: #b19bff;
    --secondary: #ff9aa2;
    --muted: #a0d4ff;
    --accent: #7cff7c;
    --border: #ffffff;
    --shadow-md: 2px 2px 0px 0px;
    --shadow: 2px 2px 0px 0px;
    --shadow-lg: 2px 2px 0px 0px;

    --font-sans:
        ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono:
        ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
        "Liberation Mono", "Courier New", monospace;
    --radius: 0.5rem;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-primary: var(--primary);
    --color-secondary: var(--secondary);
    --color-muted: var(--muted);
    --color-accent: var(--accent);
    --color-border: var(--border);

    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);
    --font-serif: var(--font-serif);

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);

    --shadow: var(--shadow);
    --shadow-md: var(--shadow-md);
    --shadow-lg: var(--shadow-lg);
}

@layer base {
    *,
    *::after,
    *::before {
        @apply p-0 m-0 box-border;
    }

    body {
        @apply bg-background text-foreground;
    }

    .magic {
        @apply border-2 shadow-md;
    }

    h1 {
        font-size: clamp(1.365rem, 0.9555rem + 2.184vw, 2.0475rem);
        line-height: 1.25;
        font-weight: bold;
    }
    h3 {
        font-size: clamp(1.02375rem, 0.9555rem + 0.364vw, 1.1375rem);
        font-weight: 700;
    }
    p {
        font-size: clamp(0.79625rem, 0.728rem + 0.364vw, 0.91rem);
        font-weight: 400;
    }

    .icon-lg {
        @apply w-[clamp(1.656rem,3.312vw,2.366rem)] h-[clamp(1.656rem,3.312vw,2.366rem)];
    }
    .icon-md {
        @apply w-[clamp(1.183rem,2.366vw,1.656rem)] h-[clamp(1.183rem,2.366vw,1.656rem)];
    }
    .icon-sm {
        @apply w-[clamp(0.828rem,1.656vw,1.183rem)] h-[clamp(0.828rem,1.656vw,1.183rem)];
    }
}
